{% extends 'master.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load custom_filters %}
{% block title %}
    <title>Hostel Accommodation</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="underline-title-wrap">
            <div class="underline-title">
                <h2 class="text-center fw-bold mb-4">Hostel Accommodation</h2>
            </div>
        </div>
        <p class="text-center mb-5">Ushindi College provides safe, affordable, and well-maintained hostels for our
            students. Apply below to reserve your spot.</p>

        <!-- Hostel Details -->
        {% for hostel in hostels %}
            <div class="row mb-5">
                <div class="col-md-6">
                    <div id="carousel{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner rounded">
                            {% for image in hostel.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="Dorm Image">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-5 mt-4">
                    <h3>{{ hostel.name }}</h3>
                    <p><strong>Monthly Fee:</strong> KES {{ hostel.price }}</p>
                    <ul class="list-group list-group-flush">
                        {% for feature in hostel.features|split:";" %}
                            <li class="list-group-item">{{ feature }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- Application Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <h3 class="text-center fw-bold mb-4">Hostel Application Form</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}
