{% extends 'master.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}
    <title>Contact Us</title>
{% endblock %}

{% block content %}
    <div class="container my-5">

        <div class="underline-title-wrap">
            <div class="underline-title">
                <h2 class="fw-bold">Contact Ushindi College</h2>
            </div>
        </div>
        <p>Have questions or need support? Reach out to us, we’re here to help.</p>

        <div class="row">
            <!-- Contact Form -->
            <div class="col-md-7 mb-4">
                <form method="POST" class="bg-light p-4 rounded shadow-sm">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-4">Send Message</button>
                    </div>
                </form>
            </div>

            <!-- Contact Info -->
            <div class="col-md-5">
                <div class="bg-white p-4 rounded shadow-sm h-100">
                    <h5 class="fw-bold mb-3">Visit or Call Us</h5>
                    {% for contact in contact_info %}
                        <p><i class="fas {{ contact.icon }} me-2 text-grey"></i> {{ contact.contact_detail}}</p>
                    {% endfor %}
                    <hr>
                    <h6 class="fw-bold">Office Hours</h6>
                    <p>Monday – Friday: 8:00 AM – 5:00 PM</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
