{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>Courses</title>
{% endblock %}

{% block content %}
    {% for faculty in faculties %}
        <div class="container my-4">
            <div class="underline-title-wrap">
                <h2 class="underline-title">{{ faculty.name }}</h2>
            </div>
            <div class="row">
                {% for course in faculty.courses.all %}
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="{{ course.image.url }}" alt="{{ course.title }}">
                            <div class="card-body">
                                <h5>{{ course.title }}</h5>
                                <p>{{ course.description }}</p>
                                <a href="{{ course.fee_structure.url }}" download
                                   class="btn btn-outline-dark px-4 py-2">Fee Structure
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}