{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>Courses</title>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Faculty Of Engineering & Technology</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'img/slide1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Civil Engineering</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'img/slide2.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Mechanical Engineering</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'img/slide3.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Electrical Engineering</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem
                            maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'img/slide1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Computer Science</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem
                            maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'img/slide1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Information Technology</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem
                            maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="container my-4">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Faculty Of Business, Economics, Hospitality & Tourism Management</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="{% static 'img/slide1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Business</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="{% static 'img/slide1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Economics</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="{% static 'img/slide1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5>Hospitality & Tourism</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid architecto assumenda aut
                            autem
                            maxime nemo, liquid architecto assumenda</p>
                        <a href="" download class="btn btn-outline-dark px-4 py-2">Fee Structure
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}