{% extends 'master.html' %}
{% load custom_filters %}
{% load static %}
{% block title %}
    <title>College Dispensary</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="underline-title-wrap">
            <div class="underline-title">
                <h2 class="text-center fw-bold mb-4">College Dispensary</h2>
            </div>
        </div>
        <p class="text-center mb-5">
            The Ushindi College Dispensary is dedicated to promoting student well-being through accessible, affordable,
            and professional health care services right on campus.
        </p>

        <!-- Dispensary Info -->
        <div class="row mb-5 align-items-center">
            <div class="col-md-5">
                <div id="dispensaryCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner rounded">
                        {% for img in images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ img.image.url }}" class="d-block w-100" alt="{{ img.caption }}">
                                {% if img.caption %}
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>{{ img.caption }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#dispensaryCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#dispensaryCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <p class="fw-bold">{{ service.short_description }}</p>
                <h4 class="fw-bold">Our Services Include:</h4>
                {% for service in services %}

                    <ul class="list-group list-group-flush mt-3">
                        {% for item in service.service_list|split:";" %}
                            <li class="list-group-item">{{ item }}</li>
                        {% endfor %}
                    </ul>

                {% endfor %}
            </div>
        </div>


        <!-- Contact Section -->
        <div class="bg-light p-4 rounded shadow-sm">
            <h4 class="text-center fw-bold mb-3">We’re Open 24/7</h4>
            <p class="text-center">{{ contacts.contact_note }}</p>
            <p class="text-center">{{ contacts.location }}</p>
        </div>

    </div>
{% endblock %}
