{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>Dean Of Students Office</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Office Of The Dean Of Students</h2>
        </div>
        <div class="row m-auto">
            <p class="mb-4">{{ dean.short_description }}</p>
            <div class="d-flex justify-content-between p-3" style="background-color: #ededed; border-radius: 7px;">
                <div class="col-sm-3 mb-3">
                <img src="{{dean.photo.url}}" class="img-fluid mb-2 w-50" alt="{{ dean.title }}">
                <h5>{{ dean.name}}</h5>
                <p class="card-text"><small class="text-muted">{{ dean.title}}</small></p>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4>Contacts</h4>
                        <h5>Office Of The {{ dean.title}}</h5>
                        <p>Address: <small>{{ dean.office_address}}</small></p>
                        <p>Email: <small>{{ dean.email}}</small></p>
                        <p>Phone: <small>{{ dean.phone }}</small></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row my-3">
            <h4 class="mt-4">Message from {{ dean.title }}</h4>
                <p class="text-center">{{dean.message_from_dean}}</p>
            
            <h5><small class="text-muted">AG. {{ dean.title}}</small></h5>
        </div>
        <div class="row my-4">
            <h4 class="text-center">STAFF</h4>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa, est explicabo iste
                laboriosam quo recusandae sit. Accusamus cum, ipsa molestiae nam nemo quis sequi tempore, temporibus
                veniam voluptate voluptatibus.</p>
            {% for staff in staffs %}
                <div class="col-md-3">
                <img src="{{staff.photo.url}}" class="img-fluid mb-2 w-50" alt="">
                <h5>{{ staff.name }}</h5>
                <p class="card-text"><small class="text-muted">{{ staff.title}}</small></p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}