{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>FAQs</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="underline-title-wrap">
            <div class="underline-title">
                <h2 class="fw-bold">Frequently Asked Questions</h2>
            </div>
        </div>
        <p>Answers to common questions about Ushindi College</p>

        <div class="accordion" id="faqAccordion">
            <!-- Question 1 -->
            {% for faq in faqs %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faq{{ forloop.counter }}-heading">
                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#faq{{ forloop.counter }}">
                            {{faq.question}}
                        </button>
                    </h2>
                    <div id="faq{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            {{ faq.answer|safe}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
