{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            {% for slide in slides %}
                <button type="button" data-bs-target="#demo" data-bs-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></button>
            {% endfor %}
        </div>

        <!-- The carousel -->
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ slide.image.url }}" alt="{{ slide.title }}" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>{{ slide.title }}</h3>
                        {% if slide.link %}
                            <a href="{{ slide.link }}" class="btn btn-secondary">Learn More</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <!-- Latest News -->
    <div class="container mt-4">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Latest News and Events</h2>
        </div>
        <div class="row g-4 px-2">
            {% for item in news_events %}
                <div class="col-md-3">
                    <div class="card h-100">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description|truncatewords:12 }}</p>
                            <a class="btn btn-secondary" href="{% url 'news_events_detail' item.slug %}">Learn More</a>
                        </div>
                        <div class="card-footer text-muted small bg-white border-0">
                            <i class="fa fa-calendar-alt me-1"></i> {{ item.date|date:"jS M Y" }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4 mb-4">
            <a class="btn btn btn-outline-dark px-4 py-2" href="{% url 'upcomingNewsEvents' %}">Read All News</a>
        </div>
    </div>

    <!-- Faculties Start -->
    <div class="container">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Faculties</h2>
        </div>
        <div class="row">
            <p>At Ushindi College, we offer a diverse range of academic faculties designed to equip students with
                practical skills, professional knowledge, and real-world experience. Our programs are tailored to meet
                industry demands and empower graduates to become leaders in their fields. Explore our faculties
                below:</p>
            <div class="col-md-12 mb-4 m-auto">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% for faculty in faculties %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                        aria-controls="collapse{{ forloop.counter }}">
                                    {{ faculty.name }}
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#facultyAccordion">
                                <div class="accordion-body">
                                    {{ faculty.description }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Gallery start -->
    <div class="container my-5">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Gallery</h2>
        </div>
        <div class="row g-4">
            {% for image in gallery %}
                <div class="col-md-3 col-sm-6">
                    <div class="gallery-box position-relative shadow-sm">
                        <img src="{{ image.image.url }}" class="img-fluid w-100 rounded">
                        <div class="gallery-caption">
                            {{ image.caption }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a href="#" class="btn btn-outline-dark px-4 py-2">ALL GALLERIES</a>
        </div>
    </div>
    
    <!-- Ushindi Testimonials -->
    <div class="container my-5">
        <div class="underline-title-wrap text-center mb-4">
            <h2 class="underline-title">What Our Alumni Say</h2>
            <p class="text-muted small">Voices from those who lived the experience, now shaping the world.</p>
        </div>
        <div class="row g-4">
            
            {% for testimony in testimonials %}
                <div class="col-md-3">
                <div class="bg-white border rounded shadow p-4 h-100">
                    <div class="text-center">
                        <img src="{{ testimony.image.url }}" alt="{{ testimony.name}}" class="rounded mb-3"
                             style="width: 120px; height: 120px; object-fit: cover; border: 1px solid grey;">
                        <h5 class="fw-bold mb-0">{{ testimony.name}}</h5>
                        <p class="text-muted small mb-1">{{ testimony.position}}</p>
                        <p class="text-primary fw-bold small">Ushindi College - Class of {{ testimony.graduation_year }}</p>
                    </div>
                    <p class="mt-3 small text-justify">
                        {{testimony.quote}}
                    </p>
                    <div class="text-warning text-center">
                        {% for i in "12345"|slice:":t.rating"|make_list %}★{% endfor %}
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>

{% endblock %}