{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>Students Association</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Student Leadership</h2>
        </div>
        <div class="row text-center">
            <p>At Ushindi College, we believe in nurturing leadership from within. Our student leadership body
                represents the voice of the students, promotes unity, and leads initiatives that enhance campus life.
                Through active participation, student leaders gain valuable experience in governance, communication, and
                service, preparing them to lead with integrity both on campus and beyond.</p>
            {% for student_leader in student_leadership %}
                <div class="col-md-3">
                    <img src="{{ student_leader.image.url }}" class="img-fluid mb-2 w-50"
                         alt="{{ student_leader.role }}">
                    <h6>{{ student_leader.name }}</h6>
                    <p class="text-muted">{{ student_leader.role }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}