{% extends 'master.html' %}
{% load static %}
{% block title %}
    <title>Students Association</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="underline-title-wrap">
            <h2 class="underline-title">Student Leadership</h2>
        </div>
        <div class="row text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolore non quidem suscipit velit. Culpa impedit iure libero velit voluptatibus. Autem culpa eius, ex minima provident rem repudiandae temporibus totam?</p>
            <div class="col-md-3">
                <img src="{% static 'img/dean.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Vincent Morara</h6>
                <p class="text-muted">Chairperson</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/vice.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Mary Benard</h6>
                <p class="text-muted">Vice Chairperson</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/dean.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Samuel Wambi</h6>
                <p class="text-muted">Secretary General</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/vice.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Victoria Mumbi</h6>
                <p class="text-muted">ICT</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/dean.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Vincent Morara</h6>
                <p class="text-muted">Chairperson</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/vice.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Mary Benard</h6>
                <p class="text-muted">Vice Chairperson</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/dean.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Samuel Wambi</h6>
                <p class="text-muted">Secretary General</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/vice.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Victoria Mumbi</h6>
                <p class="text-muted">ICT</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/dean.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Vincent Morara</h6>
                <p class="text-muted">Chairperson</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/vice.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Mary Benard</h6>
                <p class="text-muted">Vice Chairperson</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/dean.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Samuel Wambi</h6>
                <p class="text-muted">Secretary General</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/vice.jpg' %}" class="img-fluid mb-2 w-50" alt="">
                <h6>Victoria Mumbi</h6>
                <p class="text-muted">ICT</p>
            </div>
        </div>
    </div>

{% endblock %}